@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lounge Lizzard Radio</h1>
    <p class="lead">From records to CDs, and everything in between, we offer a wide selection of popular albums.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Browse inventory</h2>
        <p>
            <br>Browse the complete catalog of albums.
            <br>Includes full information about the artist, genre, and price.
            <br>Edit, delete, or add new albums here.
        </p>
        <p><a class="btn btn-default" href="~/Albums/index">Browse &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Browse Genres</h2>
        <p>
            <br>See what music genres are available and find albums in your favorite genre.
            <br>New genres can be added here.
        </p>
        <p><a class="btn btn-default" href="~/Browsing/genre">Genre Lists &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Browse Artists</h2>
        <p>
            <br>Browse the artist list to find your favorites and see what albums they have released.
            <br>Add new artists here.
        </p>
        <p><a class="btn btn-default" href="~/Browsing/artist">Artist Lists &raquo;</a></p>
    </div>
    <!----><div class="col-md-3">
        <h2>Browse Playlists</h2>
        <p>
            <br>Browse other people's playlists and see what albums they have released.
            <br>Add new Playlists here.
        </p>
        <p><a class="btn btn-default" href="~/Browsing/playlist">Playlists &raquo;</a></p>
    </div>
</div>